<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VISA_Application_Software.My.MySettings.conStr" connectionString="server=localhost;user id=root;database=visaapp"
            providerName="MySql.Data.MySqlClient" />
        <add name="VISA_Application_Software.My.MySettings.visaappConnectionString"
            connectionString="server=localhost;user id=root;database=visaapp;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
</configuration>
